<!DOCTYPE html>
<html>
<title>SPICDED Project Recommender</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="static/css/fontawesome-stars.css">
<link rel="stylesheet" href="static/css/examples.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<!-- ............ -->
<link rel="stylesheet" href="static/css/normalize.min.css">
<link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="static/css/examples.css">

<!-- Icons -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- Themes -->
<link rel="stylesheet" href="static/css/dist/themes/fontawesome-stars.css">
<link rel="stylesheet" href="static/css/dist/themes/css-stars.css">
<link rel="stylesheet" href="static/css/dist/themes/bootstrap-stars.css">
<link rel="stylesheet" href="static/css/dist/themes/fontawesome-stars-o.css">

<!-- Fonts -->
<link href="http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
<![endif]-->
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

.button_gray {background-color: #e7e7e7; color: black;} /* Gray */ 

</style>
<body>
<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
      <h6 class="w3-opacity">&nbsp;</h6>
      <p contenteditable="true" class="w3-border w3-padding" id="filter" onmousedown="clean()">Enter Genre.....</p>
      <button type="button" class="w3-button w3-theme" onclick="filter()"><i class="fa fa-pencil"></i> &nbsp;Filter</button> 
    <div class="w3-right w3-padding-16 w3-button button_gray" onclick="recommend()">Recommend</div>
    <div class="w3-center w3-padding-16"><h2><b>** Movie Groovie **</b></h2></div>
  </div>
</div>
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:260px">
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="row_1" style="display: block;">
    {% for movie in movies %}
      <div class="w3-quarter">
        <img src="{{movie[1]}}" alt="" style="width:100%">
        <h3>{{movie[0]}}</h3>
        <p>row_1: {{movie[2]}}</p>
        <p>
          <div class="stars stars-example-fontawesome">
            <select class="example-fontawesome" name="rating_{{movie[0]}}" autocomplete="off">
              <option value="">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <span class="title">like me? rate me!</span>
          </div>
        </p>
      </div>
    {% endfor %}
  </div>
  <div class="w3-row-padding w3-padding-16 w3-center" id="row_2" style="display: none;">
    {% for movie in movies %}
      <div class="w3-quarter">
        <img src="{{movie[1]}}" alt="" style="width:100%">
        <h3>{{movie[0]}}</h3>
        <p>row_2: {{movie[2]}}</p>
        <p>
          <div class="stars stars-example-fontawesome">
            <select class="example-fontawesome" name="rating_{{movie[0]}}" autocomplete="off">
              <option value="">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <span class="title">like me? rate me!</span>
          </div>
        </p>
      </div>        
    {% endfor %}
  </div>
  <div class="w3-row-padding w3-padding-16 w3-center" id="row_3" style="display: none;">
    {% for movie in movies %}
      <div class="w3-quarter">
        <img src="{{movie[1]}}" alt="" style="width:100%">
        <h3>{{movie[0]}}</h3>
        <p>row_3: {{movie[2]}}</p>
        <p>
          <div class="stars stars-example-fontawesome">
            <select class="example-fontawesome" name="rating_{{movie[0]}}" autocomplete="off">
              <option value="">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <span class="title">like me? rate me!</span>
          </div>
        </p>
      </div>        
    {% endfor %}
  </div>
  <div class="w3-row-padding w3-padding-16 w3-center" id="row_4" style="display: none;">
    {% for movie in movies %}
      <div class="w3-quarter">
        <img src="{{movie[1]}}" alt="" style="width:100%">
        <h3>{{movie[0]}}</h3>
        <p>row_4: {{movie[2]}}</p>
        <p>
          <div class="stars stars-example-fontawesome">
            <select class="example-fontawesome" name="rating_{{movie[0]}}" autocomplete="off">
              <option value="">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <span class="title">like me? rate me!</span>
          </div>
        </p>
      </div>        
    {% endfor %}
  </div>
  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar pagination" id="myPager">
      <a href="#" id="page_0" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" id="page_1" class="w3-bar-item w3-button w3-black" onclick="paginate(1)">1</a>
      <a href="#" id="page_2" class="w3-bar-item w3-button w3-hover-black" onclick="paginate(2)">2</a>
      <a href="#" id="page_3" class="w3-bar-item w3-button w3-hover-black" onclick="paginate(3)">3</a>
      <a href="#" id="page_4" class="w3-bar-item w3-button w3-hover-black" onclick="paginate(4)">4</a>
      <a href="#" id="page_5" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
  <hr>
  <!-- Second Photo Grid-->

  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>Usage</h3>
      <p>Find your favorite movies and rate them on a 1-to-5 star basis. Click then on 'Recommend' to learn about new movies, that you might like.</p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
    <div class="w3-third" style="visibility: hidden;">
      <h3>Powered By</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Aurelie</span><br>
          <span>...</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Marcus</span><br>
          <span>...</span>
        </li>
      </ul>
    </div>
    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        {% for tag in tags %}
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">{{tag}}</span>
        {% endfor %}
      </p>
    </div>
  </footer>
<!-- End page content -->
</div>
<script>
function recommend() {
  url = "recommend?userid=1";
  location.href = url;
}
function clean() {
  // console.log("Hallo")
  document.getElementById("filter").innerText="";
}
function filter() {
  // url = "filter";
  // location.href = url;
  value = document.getElementById("filter").innerText;
  url = "filter?filter="+value;
  location.href = url;
}
function paginate(x){
  var i;
  for (i = 0; i < 6; i++) {
    document.getElementById("page_"+i).className="w3-bar-item w3-button w3-hover-black";
    var element = document.getElementById("row_"+i);
    if(typeof(element) != 'undefined' && element != null){
      element.style.display="none";
    } else{
      // alert('Element does not exist!');
    }
    if (i==x) {
      document.getElementById("page_"+i).className="w3-bar-item w3-button w3-black";
      document.getElementById("row_"+i).style.display="block";
    }
  }
}
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="static/js/jquery.barrating.min.js"></script>
<script src="static/js/examples.js"></script>
</body>
</html>